.section {
  margin-top: 16px;
  width: 100%;
}

.sectionHeader {
  width: 100%;
  background-color: #3c3cd3;
  border-radius: 8px 8px 0 0;
}

.sectionHeader > h1 {
  margin: auto;
  padding: 8px;
  color: #fff;
  font-size: 14px;  
  font-weight: 200;
}

.sectionBody {
  border: 1px #3c3cd3 solid;
  padding: 0 16px 16px;
}