button.default {
  background-color: #3c3cd3;
  border: 0;
  border-radius: 8px;
  height: 32px;
  color: white;
  font-size: 12px;
  padding: 0 24px;
  margin-top: 16px;
}

button.default:hover {
  background-color: #3232bd;
}

button.default:active {
  background-color: #1f1fb3;
  box-shadow: inset 1px 1px 1px black;
}