#topbar {
  width: 100%;
  background-color: #008269;
  margin: auto;
  padding: 8px 32px;
  position: sticky;
  top: 0;
  left: 0;
}

#topbar > img {
  height: 32px;
}

#topbar #MenuIcon {
  font-size: 32px;
  color: #fff;
  margin: auto;
  margin-left: 32px;
}